.peoples {
  display: flex;
  margin: 20px;

  & > * {
    flex-basis: 50%;
  }
  .peoples-page {
    margin: 0 10px;
    min-width: 400px;
    background: #fff;
    text-align: center;
    box-shadow: 2px 3px 7px 0 #4a4a4a;
    border: 1px solid #d4d4d4;
  }

  .peoples-list {
    margin: 0 10px;
    //max-width: 400px;
    //min-width: 400px;
    background: #fff;
    text-align: center;
    box-shadow: 2px 3px 7px 0 #4a4a4a;
    border: 1px solid #d4d4d4;
  }
}

