.auth-page {
    height: 95vh;
    text-align: center;
}

.auth-page .form-auth {
    display: inline-block;
    vertical-align: middle;
}

.auth-page::before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.home a {
    display: inline-block;
    color: #d4d4d4;
    padding: 10px;
    text-decoration: none;
}

.home .selected {
    color: #4d4d4d;
}