.error-field {
  .label-field {
    font-weight: 200;
    padding: 20px 10px;
    background-color: #efefef;
    text-align: left;
    font-size: 15px;
    color: #464646;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .input-field {
    padding-left: 15px;
    width: calc(100% - 17px);
    border: none;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 16px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    color: #19a6db;

    &:focus {
      outline: none;
      border-left: 4px solid #19a6db;
      width: calc(100% - 21px);
    }
  }

  .error-valid {
    padding: 5px 0;
    font-size: 14px;
    color: #ff4242;
    letter-spacing: 1px;
    font-weight: 200;
    border-bottom: 1px solid #d4d4d4;
  }

}

